# --- Frontend (Client) ---
client/node_modules/
client/dist/
client/.env
client/.env*.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# --- Backend (Server) ---
server/target/
server/.env
server/.env.local
server/pom.xml.tag
server/pom.xml.releaseBackup
server/pom.xml.nextReleaseBackup
server/release.properties
server/dependency-reduced-pom.xml
server/build/
server/*.db
server/.mv.db
server/.mvn/wrapper/maven-wrapper.jar

# --- IDEs e Sistema ---
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store