# --- Frontend (Client) ---
client/node_modules/
client/dist/
client/.env
client/.env.local

# --- Backend (Server) ---
server/target/
server/.env
server/.mvn/wrapper/maven-wrapper.jar

# --- IDEs e Sistema ---
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store